
{% extends "base.html" %}
{% block content %}
{% load mathfilters %}

   <h2>Students</h2>
       <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
		
		{% for student in students %}
        <div class="item">
          <img class="first-slide" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1><a href="{% url 'student-detail' pk=student.id %}">
				{{ student.first_name}} {{ student.last_name}}
				</a> 
				</h1>
              <p> 
			  </br>Middle Name: {{ student.middle_name}} </br>
			  Age: {{ student.age}}
			  </p>
              <p><a class="btn btn-lg btn-primary" href="{% url 'student-detail' pk=student.id %}" role="button">Check my profile!</a></p>
            </div>
          </div>
        </div>
        {% endfor %} 
        
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
   
   
	<p>{{ students.count }} Students</p>	
		
	<br>
	
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	{% for student in students %}
	  <div class="panel panel-default">
		<div class="panel-heading" role="tab" id="headingOne">
		  <h4 class="panel-title">
			<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ student.last_name}}" aria-expanded="true" aria-controls="collapseOne">
			  {{ student.first_name}} {{ student.last_name}}
			</a>
		  </h4>
		</div>
		<div id="collapse-{{ student.last_name}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
		  <div class="panel-body">
			<p>
			{% for course in student.course.all %}
			<p>Course: {{ course.course_name }} {{ course.description }} (relationship data) </p> 
			{% endfor %}
			  Middle Name: {{ student.middle_name}} </br>
			  Age: {{ student.age}}
			</p>
		  </div>
		</div>
	  </div>
	
	   {% endfor %}
	</div>
	  <!--
		{% for student in students %}
		<h1><a href="{% url 'student-detail' pk=student.id %}">
					{{ student.first_name}} {{ student.last_name}}
			</a> 
		</h1>
		  {% endfor %} 
		  
		  
		  



		  
	  <h2><a href="{% url 'courses' %}">Courses<a></h2>
	  
	  -->
	  <br>
	  <h1>Basic math filters</h1>

	<ul>
		<li>8 + 3 = {{ 8|add:3 }}</li>

		<li>13 - 17 = {{ 13|sub:17 }}</li>

		{% with answer=42 %}
		<li>42 * 0.5 = {{ answer|mul:0.5 }}</li>
		{% endwith %}

		{% with numerator=12 denominator=3 %}
		<li>12 / 3 = {{ numerator|div:denominator }}</li>
		{% endwith %}

		<li>|-13| = {{ -13|abs }}</li>
	</ul>
{% endblock %}


